{% extends 'base.html' %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold text-center text-muted">Profile.</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <!-- displaying  Username-->
    <!--Display profile photo-->
    <div class="col-md-12 align-items-center">
      <div class="profile-flex" style="display: flex; align-items: center; justify-content: center; align-self: center; flex-direction: column;">
        {% if user.profile_pic_path %}
        <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail" style="border-radius: 100px; width: 200px; height: 200px; margin-top: 40px;">
        {%else%}
        <p>No profile picture</p>
        {% endif %}
        <h3 class="mt-5"> {{user.username| capitalize}} </h3>
        <!--Displaying user bio-->
        {% if user.bio %}
          <p> {{user.bio}}</p>
        {%else%}
          <p class="text-center"> {{user.username| capitalize}} has no bio </p>
        {% endif %}
        {% if user == current_user %}
        <a href="{{url_for('main.update_profile',uname=user.username)}}" class="mt-3">Edit Bio</a>
        {% endif %} <hr>
        {% if user == current_user %}
        <div class="form-floating">
          <form  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">
            <input type="file"  name="photo" class="form-control" required>
            <input type="submit" class="btn btn-outline-dark mt-3" style="color:#00e6cb; ">
          </form>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-4">
      {% for post in posts %}
      <div class="card shadow p-3 mb-5 rounded card" style="width: 27em;margin: 2em;">
        <div class="cardbody">
          <h4>{{post.title | upper}}</a></h4><br>
          <p>{{post.short_desription}}</p>
          <p>Posted on : {{post.posted.strftime('%d-%m-%Y')}}</p>
          <p id="usern"><a href="{{url_for('main.user_blogs',username = post.user.username)}}"><span
                style="color:gray"><strong>Author: {{post.user.username}}</strong></span></a></p>
          <div class="row">
            <div class="col-md-6"><a href="{{url_for('main.posts',post_id=post.id)}}">
                <h5>Read More<i class="bi bi-arrow-right-short"></i></h5>
              </a></div>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>

  </div>
</div>
<!-- User Blogs  -->
<!-- Footer -->
 <footer class="bg-light" style="margin-top: 80px;">
    <div class="container py-5">
      <div class="row py-4">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="{{url_for('static', filename='img/blog_logo.png')}}" style=" width: 250px; height:250px;"alt="" width="180" class="mb-3">
         
          <ul class="list-inline mt-4">
            <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fab fa-twitter" style="color: #00e6cb; font-size: 20px;"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fab fa-facebook-f" style="color: #00e6cb; font-size: 20px;"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fab fa-instagram" style="color: #00e6cb; font-size: 20px;"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fab fa-pinterest" style="color: #00e6cb; font-size: 20px;"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fab fa-linkedin-in" style="color: #00e6cb; font-size: 20px;"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Social</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="/" class="" style="color: #00e6cb; text-decoration: none;">Home</a></li>
            <li class="mb-2"><a href="{{url_for('main.new_post', uname=current_user.username)}}" class="" style="color: #00e6cb; text-decoration: none;">Add Post</a></li>
            <li class="mb-2"><a href="{{url_for('main.profile',uname=current_user.username)}}" class="" style="color: #00e6cb; text-decoration: none;">Profile</a></li> 
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Newsletter</h6>
          <p class=" mb-4">Subscribe to our Newsletter.</p>
        
        </div>
      </div>
    </div>

    <!-- Copyrights -->
    <div class="bg-light py-4">
      <div class="container text-center">
        <p class=" mb-0 py-2">© 2019 The J word All rights reserved.</p>
      </div>
    </div>
  </footer>
 

{% endblock %}
