{% extends 'base.html' %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" type="text/css">
{% endblock styles%}


{% block content %}
<!-- jumbotron -->
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Custom jumbotron</h1>
    <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
  </div>
</div>
<!-- All Blog Posts  -->
<div class="container">
  <h2 class="text-center">Posts</h2>
  <div class="row">
  {% for post in posts.items %}
    <div class="col-md-4">
      <div class="card mt-5 shadow" style="width:18rem;">
        <div class="card-body">
          <h5 class="card-title"><a class="article-title" href="#">{{ post.title }}</a></h5>
          <h6 class="card-subtitle text-muted">Author: <a href="{{url_for('main.user_posts',username = post.user.username)}}">{{post.user.username}}</a></h6>
          <small class="text-muted">Posted on: {{post.posted.strftime('%d-%m-%Y')}}</small>
          <p class="card-text mt-2">{{ post.short_description }}</p>
          <a href="{{url_for('main.posts',post_id=post.id)}}">Read More</a>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  <br>
  <div class="paginate" style="display: flex; justify-content: center; align-items: center; column-gap: 10px;">
    {% for page_num in posts.iter_pages() %}
      {% if page_num in posts.iter_pages() %}
        {% if posts.page == page_num %}
          <a class="btn btn-dark mb-4" href="{{url_for('main.index', page=page_num)}}">{{page_num}}</a>
        {% else %}
          <a class="btn btn-outline-dark mb-4" href="{{url_for('main.index', page=page_num)}}">{{page_num}}</a>
        {% endif %}
      {% else%}
          ...
      {% endif %}

    {% endfor %}
  </div>
</div><hr>
<!-- Recent Posts  -->
<div class="container">
  <h2 class=" text-center mt-5 mb-5"><strong>Recent Posts</strong></h2>
    <div class="row">
      {% for post in recent.items%}
        <div class="col-md-4">
            <div class="card mt-5 shadow" style="width:18rem;">
              <div class="card-body">
                <h5 class="card-title"><a class="article-title" href="#">{{ post.title }}</a></h5>
                <h6 class="card-subtitle text-muted">Author: <a href="{{url_for('main.user_posts',username = post.user.username)}}">{{post.user.username}}</a></h6>
                <small class="text-muted">Posted on: {{post.posted.strftime('%d-%m-%Y')}}</small>
                <p class="card-text mt-2">{{ post.short_description }}</p>
                <a href="{{url_for('main.posts',post_id=post.id)}}">Read More</a>
              </div>
            </div>
          </div>
      {%endfor%}
    </div><br>
    <div class="recent-nav" style="display: flex; justify-content: center; align-items: center; column-gap: 10px;">
      {% for page_num in recent.iter_pages() %}
        {% if page_num in recent.iter_pages() %}
          {% if recent.page == page_num %}
            <a class="btn btn-dark mb-4" href="{{url_for('main.index', page=page_num)}}">{{page_num}}</a>
          {% else %}
            <a class="btn btn-outline-dark mb-4" href="{{url_for('main.index', page=page_num)}}">{{page_num}}</a>
          {% endif %}
        {% else%}
            ...
        {% endif %}
      {% endfor %}
    </div>  
</div>

<!-- Footer -->
 <footer class="bg-light">
    <div class="container py-5">
      <div class="row py-4">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="{{url_for('static', filename='img/blog_logo.png')}}" style=" width: 200px; height: 200px;"alt="" width="180" class="mb-3">
         
          <ul class="list-inline mt-4">
            <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fa fa-vimeo"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Social</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="text-muted">For Women</a></li>
            <li class="mb-2"><a href="#" class="text-muted">For Men</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Stores</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Our Blog</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Newsletter</h6>
          <p class="text-muted mb-4">Subscribe to our Newsletter.</p>
          <div class="p-1 rounded border">
            
          </div>
        </div>
      </div>
    </div>

    <!-- Copyrights -->
    <div class="bg-light py-4">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">© 2019 The J word All rights reserved.</p>
      </div>
    </div>
  </footer>
{% endblock %}

