{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="header">

</div>
</div>
<div class="container">
  <h2 class="text-center">Posts</h2>
  {% for post in posts.items %}
    <article class="media content-section mb-5">
      <div class="media-body">
        <div class="article-metadata">
          <small class="mr-2">Author: {{post.user.username}}</small><br>
          <small class="text-muted">{{post.posted.strftime('%d-%m-%Y at %H:%M:%S')}}</small>
        </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.short_description }}</p>
        <small><a href="{{url_for('main.posts',post_id=post.id)}}">Read More</a></small>
      </div>
    </article>
  {% endfor %}
  {% for page_num in posts.iter_pages() %}
    {% if page_num in posts.iter_pages() %}
      <a class="btn btn-outline-info mb-4" href="{{url_for('main.index', page=page_num)}}">{{page_num}}</a>
    {% else%}
        ...
    {% endif %}

  {% endfor %}

</div>
{% endblock %}

