<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img src="{{url_for('static', filename='img/blog_logo.png')}}" alt="Logo">
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-secondary" style="color: #00e6cb;">Home</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
    </ul>

    <div class="col-md-3 text-end">
      {% if current_user.is_authenticated %}
        <li style="color: #00e6cb;padding:15px;"> <a href="{{url_for('main.profile',uname=current_user.username)}}"></a>{{current_user.username}}</li>
        <button type="button" class="btn btn-outline-light me-2"><a href="{{url_for('auth.logout')}}">Logout</a></button>
        {% else %}
        <button type="button" class="btn btn-outline-light me-2"><a href="{{url_for('auth.login')}}">Login</a></button>
        <button type="button" class="btn btn-warning"><a href="{{url_for('auth.register')}}">Sign Up</a></button>
        {%endif%}
    </div>
  </header>
</div>